
@{
    ViewBag.Title = "Contact";
}

<!--
    Author: Christian Simpson, Ryan Kornyk
    Date: July 30th
    Folder: Foods
    File: Contact.cshtml
-->


<h2>Contact</h2>

<h4>Tomatoes Au Greatin'</h4>
<h5>Phone: 666-911-1337</h5>
<h5></h5>

<img width="600" src="http://maps.googleapis.com/maps/api/staticmap?center=the+White+House&zoom=14&scale=false&size=600x300&maptype=roadmap&format=gif&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Cthe+White+House" alt="Google Map of the White House">
<h2>Stay Connected!</h2>
<div>
    <a href=""><i class="fa fa-facebook fa-4x"></i></a>
    <a href=""><i class="fa fa-twitter fa-4x"></i></a>
    <a href=""><i class="fa fa-instagram fa-4x"></i></a>
</div>
