
@{
    ViewBag.Title = "Index";
}
<!--
    Author: Christian Simpson, Ryan Kornyk
    Date: July 30th
    Folder: Home
    File: Index.cshtml
-->

<h2>Welcome to Tomatoes Au Greatin! Where all your tomato fantasies come true.</h2>
<img src="~/Assets/images/gordon.jpg" alt="The Head Chef" width="350"/>
<h3>Our great Head Chef</h3>
<img src="~/Assets/images/room.jpg" alt="The Floor Plan" height="235"/>
<h3>Our floor plan</h3>
