@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<!--
    Author: Christian Simpson, Ryan Kornyk
    Date: July 30th
    Folder: Shared
    File: Error.cshtml
-->

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

